.pr-6{
    padding-right: 3.5rem !important;
}
a.nav-link{
    color: white;
}

p.navbar-text{
    color: white;
}

.cw{
    color: white;
}

.clg{
    color: lightgrey;
}

.myForm{
    align-content: center;
    text-align: center;
}

.h-20{
    height: 20%;
}

.sidebar{
    padding: 1.8em;
    background-color: #5a6268;
    color: white;
    min-height: 100%;
}
.nav-link-sidebar{
    display: block;
    padding: 0.3rem 1rem;
    color: white;
}

.min-h-89{
    min-height: 89% !important;
}

.sub-title{
    text-align: center;
    text-decoration: underline;
}